<footer>
    <div class="section__header">
        <div class="footer-container">

            <div class="footer-links">

                <div class="footer-nav">
                    <a href="/#services">Consulting</a>
                    <a href="/#beam_solar">Beam Solar</a>
                    <a href="/#about">About Us</a>
                    <a href="/#contact">Contact Us</a>
                    <a href="/terms-of-use">Terms of Use</a>
                    <a href="/privacy-policy">Privacy Policy</a>
                </div>

                <div class="social-links">
                    <a href="https://twitter.com/beamenergylabs?lang=en" target="_blank">
                        <ion-icon class="ion-social-twitter" name="logo-twitter"></ion-icon>
                    </a>
                    <a href="https://www.linkedin.com/company/beam-energy-labs/?originalSubdomain=au" target="_blank">
                        <ion-icon class="ion-social-linkedin" name="logo-linkedin"></ion-icon>
                    </a>
                </div>

            </div>

            <p>
                Copyright &copy; 2020 Beam Energy Labs Pty Ltd. All Rights Reserved.
            </p>

        </div>
    </div>
</footer>

<!-- Scripts -->
<script src="/assets/vendors/js/jquery-3.6.0.min.js"></script>
<script src="/assets/vendors/js/jquery.waypoints.min.js"></script>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
<script src="/assets/js/script.js"></script>


<script>
    window.intercomSettings = {
        app_id: "w2jnmifv"
    };
</script>

<script>(function () {
    var w = window;
    var ic = w.Intercom;
    if (typeof ic === "function") {
        ic('reattach_activator');
        ic('update', w.intercomSettings);
    } else {
        var d = document;
        var i = function () {
            i.c(arguments);
        };
        i.q = [];
        i.c = function (args) {
            i.q.push(args);
        };
        w.Intercom = i;
        var l = function () {
            var s = d.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'https://widget.intercom.io/widget/w2jnmifv';
            var x = d.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
        };
        if (w.attachEvent) {
            w.attachEvent('onload', l);
        } else {
            w.addEventListener('load', l, false);
        }
    }
})();</script>
